*{
    margin: 0;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*  ================================= TOP MENU =========================================  */

nav{
    max-width: 1600px;
    padding: 0 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
  
}

nav img{
    height: 23px;
    width: 108px;
    padding: 16px 6px 16px 5px;
}

.lavy_nav, .pravy_nav{
    flex:1;
}

.hamburger_menu{
    display: none;
}

/* ---------- lava nav ----------*/

.hamburger_div{
    display: none;
}

.lavy_nav ul{
    float: left;
    list-style: none;
    padding-bottom: 4px;
    padding-left: 15px;
}

.lavy_nav ul li{
    padding: 0 10px 0 10px;
    text-align: center;
    display: inline-block;
}

.lavy_nav ul li a{
    font-size: 13px;
    color: black;
    text-decoration: none;
}

/* ------------ prava nav ----------*/

.pravy_nav ul{
    float: right;
    list-style: none;
    padding-bottom: 11px;
    padding-right: 10px;
}

.pravy_nav ul li{
    position: relative;
    margin-left: 40px;
    text-align: center;
    display: inline-block;
    padding: 10px 0;
}

.pravy_nav ul li:first-child{
    margin-left: 0;
}

.pravy_nav ul li a{
    margin: 0 3px 0 3px;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

/* ------------ dropdown menu -----------------*/

.pravy_nav ul li:first-child:hover .dropdown-menu{
    display: block;
    
}

.dropdown-menu{
    position: absolute;
    display: none;
    box-sizing: border-box;
    background-color:rgb(243, 243, 243);
    flex-direction: column;
    left:-720px;
    top:45px;
    border-bottom: black 2px solid;
    width:1200px;
    z-index: 100;
}

.dropdown-top{
    display: flex;
    flex-wrap: wrap;
}

.dropdown-stlpec{
    max-width: 200px;
}

.dropdown-stlpec h3{
    padding: 18px 30px 18px 24px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    width: 141px;
}

.dropdown-stlpec ul{
    padding: 0;
    text-align: left;
}

.dropdown-stlpec ul li{
    margin: 0;
    padding: 12px 0px 12px 24px;
    text-align: left;
    min-width: 141px;
}

.dropdown-stlpec a:hover{
    text-decoration: underline;
}

.dropdown-bot{
    height: 38px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-bot a{
    text-transform: uppercase;
}

.dropdown-bot a:hover{
    text-decoration: underline;
}

/* ------------ podtrznik animacia ----------*/

.podtrznik{
    position: relative;
    margin: 0 auto;
    top: 1px;
    border-radius: 20%;
    height: 2px;
    width: 0%;
    background-color: black;
}

nav ul li:hover .podtrznik{
    width:95%;
}

/* ------------- ikony pravy nav --------------*/

i{
    cursor: pointer;
    position: absolute;
    top: 15px;
    font-size: 15px;
}

.fa-chevron-down{
    font-size: 0.6rem;
    top: 21px;
    color: darkgray;
    right:-11px;
}

.fa-user-circle{
    color: darkgray;
    position: relative;
    top: 5px;
    right: -5px;
    font-size: 29px;
}

.fa-search{
    right: -20px;
    color: gray;
}

.fa-opencart{
    right:-22px;
    color: gray;
}

/*  ==================================== VRCHNY BANNER ==================================== */


.top-img{
    position: relative;
    width: 100%;
    cursor: pointer;
    flex-shrink: 0;
    left: -100%;
    transition: all cubic-bezier(0.16,1,0.29,0.99) 170ms;
    z-index: 2;

}

.top-banner{
    max-width: 1600px;
    padding: 0 65px;
    margin: 0 auto;
    position: relative;
    margin-top: 2px;
    background-clip: content-box;
}

/* ------------ image slider ----------*/
.images{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


/* ------------------popis top banner -----------------*/

.top-popis{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left: 150px;
    color: white;
    padding-bottom: 25px;;
    z-index: 3;
}

.top-popis h1{
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.top-popis p{
    margin-bottom: 30px;
}

/* ------------------ tlacitko ----------------------*/

.top-popis a{
    text-decoration: none;
    padding: 11px 45px 9px 25px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    transition: linear all 0.1s;
}

.top-popis i{
    position: absolute;
    color: black;
    top: 131px;
    left: 80px;
    z-index: 5;
    font-size: 1.2rem;
    transition: linear all 0.1s;
}

.top-popis a:hover{
    background-color: rgb(241, 240, 240) ;
    text-decoration: underline 2px;
    padding: 11px 50px 9px 20px;

}

.top-popis a:hover i{
    transform: translateX(30%);
}

/*------------- popis pre office ------------*/

.top-popis2{
    position: absolute;
    width: 500px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 3;
}

.top-popis2 h1{
    padding-top: 20px;
    font-size: 3rem;
    font-weight: 600;
}

.top-popis2 p{
    padding-bottom: 20px;
}

/* -------- tlacidla pre office--------*/

.top-popis2-tlacidla{
    height: 39px;
    display: flex;
    flex-direction: row;
}

.top-popis2-tlacidla a{
    text-decoration: none;
    padding: 9px 45px 9px 25px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: linear all 0.1s;
    position: relative;
    margin: 0 10px;
    display: flex;
}

.top-popis2-tlacidla i{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    z-index: 5;
    font-size: 1.2rem;
    transition: linear all 0.1s;
}

.top-popis2-tlacidla a:hover{
    text-decoration: underline 2px;
    padding: 9px 50px 9px 20px;
}

.top-popis2-tlacidla a:hover i{
    transform: translate(30%, -50%);
}

#btn1osoba{
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

#btn1osoba i{
    color: black;
}

/* ---------------------- lavy + pravy button ----------------*/

.top-banner:hover .posuvac{
    display: block;
}

.posuvac{
    display: none;
    position: absolute;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: none;
    background-color: rgb(46, 46, 46);
    z-index: 3;
}

.posuvac:hover{
    background-color: rgb(70, 70, 70);
}

.top-banner button i{
    position: relative;
    font-size: 2rem;
    z-index: 5;
    color: rgb(240, 240, 240);
    top: 0;
    left: 0;
}

.pravy{
    top: 50%;
    transform: translateY(-50%);
    right: 68px;
}

.lavy{
    top: 50%;
    transform: translateY(-50%);
    left: 68px;
}

/*------------image navigation-------------------*/

.img-nav{
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}

.img-selector{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4 0 6px;
}

.img1, .img2{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.img1{
    background-color: white;
}

.img1:hover, .img2:hover{
    background-color: rgba(155, 155, 155, 0.651);
}

.play-pause{
    height: 100%;
    width: 50%;
}

.play-img{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-img:hover{
    background-color: white;
}

.play-img:hover .fa-play{
    color: black;
}

.fa-play{
    color: white;
    font-size: 0.8rem;
}

.pause-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.pause1, .pause2{
    background-color: white;
    height: 35%;
    width: 2px;
}

.pause-img:hover{
    background-color: white;
}

.pause-img:hover .pause1, .pause-img:hover .pause2{
    background-color: black;
}

/*---------popisy slidov---------*/
.dark-left{
    transform: translate(-100%, -50%);
    opacity: 0;
}

.dark-right{
    transform: translate(0, -50%);
}

.light-left{
    transform: translateX(-100%);
    opacity: 0;
}

.light-right{
    transform: translateX(0%);
    opacity: 0;
}

/* =================== PRVY PANEL S KARTAMI ==================*/

.cards{
    max-width: 1600px;
    padding: 0 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 60px;
}

.card{
    flex: 20%;
    margin: 0 13px;
}

.card:first-child{
    margin-left: 0;
}

.card:last-child{
    margin-right: 0;
}

.card img{
width: 100%;
}

.card h3{
    font-size: 20px;
    margin-top: 40px;
}

.card p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card:hover {
    cursor: pointer;
}

.card:hover img{
    opacity: 0.9;
}

.card a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 103, 184);
}

.card a:hover{
    text-decoration: underline 2px;
}

.card i{
    position: relative;
    font-size: 1.2rem;
    top: 1px;
    left: 15px;
    transition: linear all 0.1s;
}

.card a:hover i{
    transform: translateX(40%);
}

/* ========================= SPODNY BANNER ======================*/

.bot-banner img{
    position: relative;
    width: 100%;
}

.bot-banner{
    max-width: 1600px;
    padding: 0 65px;
    margin: 0 auto;
    position: relative;
    margin-top: 2px;
    cursor: pointer;
}

/* ------------------popis bot banner -----------------*/

.bot-popis{
    width: 30%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left: 180px;
    color: black;
    padding-bottom: 25px;;
}

.bot-popis h1{
    font-size: 3rem;
    margin-bottom: 15px;;
}

.bot-popis p{
    margin-bottom: 30px;
}

/* ------------------ tlacitko ----------------------*/

.bot-popis a{
    text-decoration: none;
    padding: 12px 45px 10px 25px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: linear all 0.1s;
    position: relative;
}

.bot-popis i{
    position: absolute;
    color: white;
    top: 50%;
    left: 115px;
    z-index: 5;
    font-size: 1.2rem;
    transition: linear all 0.1s;
    transform: translateY(-50%);
}

.bot-popis a:hover{
    text-decoration: underline 2px;
    padding: 12px 50px 10px 20px;
}

.bot-popis a:hover i{
    transform: translate(30%, -50%);
}

/* ====================================== SPODNE KARTY ==================================*/

.prefirmu{
    margin-bottom: 20px;
}

.cards2{
    max-width: 1600px;
    padding: 0 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 60px;
}

.card2{
    flex: 20%;
    margin: 0 13px;
    margin-top: 52px;
}

.card2:first-child{
    margin-left: 0;
    margin-top: 0;
}

.card2:last-child{
    margin-right: 0;
}

.card2 img{
width: 100%;
}

.card2 h3{
    font-size: 20px;
    margin-top: 40px;
}

.card2 p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card2:hover {
    cursor: pointer;
}

.card2:hover img{
    opacity: 0.9;
}

.card2 a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 103, 184);
}

.card2 a:hover{
    text-decoration: underline 2px;
}

.card2 i{
    position: relative;
    font-size: 1.2rem;
    top: 1px;
    left: 15px;
    transition: linear all 0.1s;
}

.card2 a:hover i{
    transform: translateX(40%);
}

/* ========================= FOOTER =========================*/

footer{
    background-color:rgb(243, 243, 243);
    font-size: 12px;
    color:rgb(109, 109, 109);
}

/* -----------footer top -------------------*/

.footer-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1600px;
    padding: 0 65px;
    margin: 0 auto;
    padding-top:40px;
    justify-content: space-between;
}

.footer-card{
    flex: 15%;
    margin: 10px;
}

.footer-top h3{
    font-size: 15px;
    margin-bottom: 5px;
    color:rgb(109, 109, 109);
}

.footer-top ul{
    list-style: none;
    padding-left: 0;
}

.footer-top ul li{
    padding: 8px 0;
}

.footer-top ul li a{
    text-decoration: none;
    color:rgb(109, 109, 109);
}


.footer-top ul li a:hover{
    text-decoration: underline;
    color: black;
}



/* ------------ footer bot ----------------*/

.footer-bot{
    max-width: 1600px;
    padding: 0 65px;
    padding-top: 5px;
    margin: 0 auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
}

.left span{
    margin-left: 5px;
}

.right{
    display: flex;
}

.right ul{
    margin-right: 20px;
}

.right ul li{
    display: inline-block;
    margin-left: 15px;
}

.right ul li a{
    text-decoration: none;
    color:rgb(109, 109, 109);
}

footer i{
    position: relative;
    left: 0;
    top: 50%;
}

.right ul li a:hover{
    text-decoration: underline;
    color: black;
}

/* =========================RESPONSIVE================================*/

@media only screen and (max-width: 1400px){

    .top-hide{
        display: none;
    }

    .fa-search, .fa-opencart{
        top: 10px;
    }

    .dropdown-menu{
        left: -940px;
    }

    .top-popis h1, .bot-popis h1, .top-popis2 h1{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .top-popis i{
        top: 100px;
    }

    .top-popis2 h1{
        padding-top: 70px;
    }
    
    .top-popis2 p{
        padding-bottom: 10px;
    }

    .bot-popis{
        width: 60%;
    }

}

@media only screen and (max-width: 1230px){
    .dropdown-menu{
        width: 1000px;
        left: -780px;
    }
}

@media only screen and (max-width: 1020px){
    .dropdown-menu{
        width: 800px;
        right: -6000px;
    }
}


@media only screen and (max-width: 1080px){
    nav{
        padding:0 30px;
    }

    .top-banner, .bot-banner{
        padding: 0;
    }

    .card, .card2{
        flex: 40%;
    }

    .card:nth-child(3){
        margin-top: 50px;
        margin-left: 0;
    }

    .card:nth-child(2){
        margin-right: 0;
    }

    .card:nth-child(4){
        margin-top: 50px;
    }

    .card2:nth-child(2){
        margin-right: 0;
    }

    .card2:nth-child(3){
        margin-left: 0;
    }

    .footer-card{
        flex: 25%;
    }

    .footer-top, .footer-bot{
        padding: 30px 24px;
    }


    .top-popis, .bot-popis{
        left:60px
    }

    .bot-popis p{
        font-size: 15px;
    }

    .dropdown-menu{
        left: -720px;
    }

    .lavy{
        left: 0;
    }

    .pravy{
        right: 0;
    }


@media only screen and (max-width: 860px){
    
    nav{
        padding: 0 15px;
    }

    .dropdown-main{
        display: none;
    }

    .lavy_nav{
        display: none;
    }

    .microsoft_logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #search-btn{
        position: absolute;
        left: 20px;
        top: 7px;
    }

    .hamburger_div{
        display: block;
        height: 23px;
        width: 23px;
        padding: 0;
    }

    .close_hamburger{
        position: relative;
        display: none;
        background-color: transparent;
        border: none;
        height: 100%;
        width: 100%;
        padding: 0;
        cursor: pointer;
    }

    .close_burger_line{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(109, 109, 109);
    }

    .close_burger_line:first-child{
        transform: rotate(45deg);
    }

    .close_burger_line:last-child{
        transform: rotate(-45deg);
    }

    .open_hamburger{
        background-color: transparent;
        border: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        cursor: pointer;
    }

    .burger_line{
        width: 100%;
        height: 2px;
        background-color: rgb(109, 109, 109);
    }

    .hamburger_menu{
        position: absolute;
        display: none;
        z-index: 500;
        top: 50px;
        left: 0;
        width: 100%;
        background-color:rgb(240, 240, 240) ;
        border-bottom: solid black 1px;
        border-top: solid rgb(221, 220, 220) 1px;
    }


    .hamburger_menu ul{
        padding-left: 0;
    }

    .hamburger_menu li{
        list-style: none;
        padding: 15px 0;
        cursor: pointer;
        border-bottom: solid rgb(221, 220, 220) 1px;
        position: relative;
    }

    .hamburger_menu ul li p{
        margin-left: 15px;
    }

    .hamburger_menu i{
        position: absolute;
        float: right;
        bottom: 50%;
        font-size: 0.7em;
        right: 10px;
        color: rgb(70, 70, 70);
 
    }

    .hamburger_menu ul li p{
        color: rgb(59, 59, 59);
        width: 160px;
    }

    .hamburger_menu ul li ul{
        display: none;
        position: relative;
        top: 16px;
    }

    .hamburger_menu ul li ul li{
        margin-left: 10px;
    }

    .hamburger_menu ul li ul li p{
        width: 400px;
    }

    .hamburger_menu ul li ul li:first-child{
        border-top: solid rgb(221, 220, 220) 1px;
        padding-left: 10px;
        margin-left: 0;
        border-bottom: none;
    }

    .hamburger_menu ul li ul li:nth-child(2){
        border-top: solid rgb(221, 220, 220) 1px;
    }

    .fa-chevron-up{
        opacity: 0;
        transform: translateY(5%);
    }

    .menuOpen{
        display: block !important;
    }

    .menuClosed{
        display: none !important;
    }

}

@media only screen and (max-width: 765px){

    .lavy_nav{
        display: none;
    }

    nav img{
        margin: auto;
        justify-self: center;
        align-self: center;
    }

    .top-banner{
        height: 100vw;
        min-height: 625px;
        background-color:rgb(46, 46, 46);
        position: relative;
    }

    .top-popis{
        top: 78%;
        left: 35%;
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
    }

    .top-popis2{
        top: 50%;
    }

    .top-popis i{
        left: 140px;
    }

    .bot-banner{
        height: 100vw;
        min-height: 625px;
        background-color:rgb(231, 231, 231);
    }

    .bot-popis{
        width: auto;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .bot-popis h1{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .bot-popis p{
        width: 400px;
    }

    .cards{
        padding: 0 30px;
        margin-top: 30px;
    }

}

@media only screen and (max-width: 540px){

    .card, .card2{
        flex: 100%;
        margin: 25px 0;
    }

    .cards, .cards2{
        padding: 0 30px;
    }

    .footer-card{
        flex: 100%;
    }

    .top-popis{
        left: 20%;
        top: 68%;
    }

    .top-popis2{
        top: 30%;
    }

    .top-popis2-tlacidla{
        flex-direction: column;
    }

    .top-popis2 h1{
        font-size: 21px;
    }

    .top-popis2 p{
        width: 300px;
        text-align: center;
    }

    .bot-popis{
        padding-bottom: 40px;
    }

    .bot-popis p{
        width: 300px;
    }

    .top-banner, .bot-banner{
        min-height: 525px;
    }

}
}